.env
.env.*
!.env.example
.venv*/
.local/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.uv-cache/
.vscode/
build/
dist/
*.log
*.snapshot
data/private/*
!data/private/.gitkeep
data/public/*
!data/public/.gitkeep
